<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/output.css">
    <script src="../static/js/scripts.js" defer></script>
    <title>URL Shortener</title>
</head>

<body class="bg-purple-500">

    <!-- Navbar -->
    <nav class="bg-white p-4">
        <div class="max-w-screen-2xl flex flex-wrap items-center justify-between mx-auto">
            <a href="/">
                <span class="self-center text-2xl font-mono font-semibold text-purple-600">Rickly</span>
            </a>
            <!-- Hamburger -->
            <button onclick="toggleHamburger()" type="button" class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none">
                <span class="sr-only">Open main menu</span>
                <!-- Hamburger image -->
                <svg class="w-5 h-5" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 17 14" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 1h15M1 7h15M1 13h15"/>
                </svg>
            </button>
            <!-- Items -->
            <div class="hidden w-full md:block md:w-auto" id="navbar-default">
                <ul class="font-medium flex flex-col p-4 md:p-0 mt-4 border border-gray-100 rounded-lg bg-gray-50 md:flex-row md:space-x-8 rtl:space-x-reverse md:mt-0 md:border-0 md:bg-white dark:bg-gray-800 md:dark:bg-gray-900 dark:border-gray-700">
                    <li>
                        <a href="/" class="text-purple-600">Home</a>
                    </li>
                    <li>
                        <a href="/about" class="text-gray-900 hover:text-purple-600">About</a>
                    </li>
                    <li>
                        <a href="/contact" class="text-gray-900 hover:text-purple-600">Contact</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>


    <!-- Content -->
    <div class="max-w-2xl mx-auto p-4 bg-white rounded-lg shadow-lg mt-8">
        <h1 class="text-center text-3xl font-mono font-bold text-purple-500 mt-8 mb-6">URL Shortener</h1>
        <form class="text-center url-input" action="/" method="POST">
            <div class="relative">
                <input type="text" name="long_url" class="block w-full p-4 text-gray-900 border border-gray-300 rounded-lg bg-gray-50 sm:text-md focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" required>
                <button type="submit" class="text-white absolute end-2.5 bottom-2.5 bg-purple-500 hover:bg-purple-700 font-medium rounded-lg text-sm px-4 py-2">Shorten</button>
                <p id="error" class="error">{{ error }}</p>
            </div>
        </form>
    </div>

    {% if short_url %}
    <div class="max-w-2xl mx-auto text-center p-4 bg-white rounded-lg shadow-lg mt-8">
        <p>Your shortened URL:</p>
        <p id="shortened_url" class="text-3xl font-semibold py-3 mr-4">{{ short_url }}</p>
        <button class="text-white bg-purple-500 hover:bg-purple-700 font-medium rounded-lg text-sm px-3 py-1 mr-2" onclick="copyToClipboard()">Copy</button>
        <button class="text-white bg-purple-500 hover:bg-purple-700 font-medium rounded-lg text-sm px-3 py-1" onclick="saveImage()">Save</button>
        <img id="qrCode" src="data:image/png;base64, {{ qr_img }}" class="mx-auto">
    </div>
    {% endif %}
    
</body>
</html>
