<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles.css">
    <title>URL Shortener</title>
</head>
<body>
    <h1 class="main-header">URL Shortener</h1>
    <form class="url-input" action="/" method="POST">
        <label for="url">Enter URL to shorten:</label>
        <br>
        <input type="text" id="long_url" name="long_url" required>
        <br>
        <button class="submit" type="submit">Shorten URL</button>
        <br>
        <p id="error" class="error">{{ error }}</p>
    </form>

    {% if short_url %}
    <p>Your shortened URL: {{ short_url }}</p>
    {% endif %}
</body>
</html>
