/* 
Deprecated: html files now use output.css due to tailwind.
This file is still here just in case.
*/

body {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.main-header {
    font-size: 40px;
}

.url-input {
    font-size: 25px;
}

.submit {
    font-size: 20px;
}

#long_url {
    width: 300px;
    padding: 5px;
    font-size: 15px;
}